<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vosung.authapp.org.mapper.TAuOrgSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.vosung.auapi.client.entity.TAuOrgScheme" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="scheme_code" property="schemeCode" jdbcType="VARCHAR" />
    <result column="scheme_name" property="schemeName" jdbcType="VARCHAR" />
    <result column="org_function_type" property="orgFunctionType" jdbcType="VARCHAR" />
    <result column="top_org_id" property="topOrgId" jdbcType="INTEGER" />
    <result column="is_default_scheme" property="isDefaultScheme" jdbcType="CHAR" />
    <result column="enable_date" property="enableDate" jdbcType="DATE" />
    <result column="expiry_date" property="expiryDate" jdbcType="DATE" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="data_state" property="dataState" jdbcType="VARCHAR" />
    <result column="prohibit_state" property="prohibitState" jdbcType="CHAR" />
    <result column="prohibit_user" property="prohibitUser" jdbcType="INTEGER" />
    <result column="prohibit_time" property="prohibitTime" jdbcType="TIMESTAMP" />
    <result column="review_user" property="reviewUser" jdbcType="INTEGER" />
    <result column="review_time" property="reviewTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, scheme_code, scheme_name, org_function_type, top_org_id, is_default_scheme, enable_date, 
    expiry_date, summary, data_state, prohibit_state, prohibit_user, prohibit_time, review_user, 
    review_time, is_delete, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vosung.auapi.client.entity.TAuOrgSchemeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_AU_ORG_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_AU_ORG_SCHEME
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_AU_ORG_SCHEME
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vosung.auapi.client.entity.TAuOrgSchemeExample" >
    delete from T_AU_ORG_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vosung.auapi.client.entity.TAuOrgScheme" >
    insert into T_AU_ORG_SCHEME (id, scheme_code, scheme_name, 
      org_function_type, top_org_id, is_default_scheme, 
      enable_date, expiry_date, summary, 
      data_state, prohibit_state, prohibit_user, 
      prohibit_time, review_user, review_time, 
      is_delete, create_time, create_user, 
      update_time, update_user)
    values (#{id,jdbcType=INTEGER}, #{schemeCode,jdbcType=VARCHAR}, #{schemeName,jdbcType=VARCHAR}, 
      #{orgFunctionType,jdbcType=VARCHAR}, #{topOrgId,jdbcType=INTEGER}, #{isDefaultScheme,jdbcType=CHAR}, 
      #{enableDate,jdbcType=DATE}, #{expiryDate,jdbcType=DATE}, #{summary,jdbcType=VARCHAR}, 
      #{dataState,jdbcType=VARCHAR}, #{prohibitState,jdbcType=CHAR}, #{prohibitUser,jdbcType=INTEGER}, 
      #{prohibitTime,jdbcType=TIMESTAMP}, #{reviewUser,jdbcType=INTEGER}, #{reviewTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.vosung.auapi.client.entity.TAuOrgScheme" useGeneratedKeys="true" keyProperty="id">
    insert into T_AU_ORG_SCHEME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schemeCode != null" >
        scheme_code,
      </if>
      <if test="schemeName != null" >
        scheme_name,
      </if>
      <if test="orgFunctionType != null" >
        org_function_type,
      </if>
      <if test="topOrgId != null" >
        top_org_id,
      </if>
      <if test="isDefaultScheme != null" >
        is_default_scheme,
      </if>
      <if test="enableDate != null" >
        enable_date,
      </if>
      <if test="expiryDate != null" >
        expiry_date,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="dataState != null" >
        data_state,
      </if>
      <if test="prohibitState != null" >
        prohibit_state,
      </if>
      <if test="prohibitUser != null" >
        prohibit_user,
      </if>
      <if test="prohibitTime != null" >
        prohibit_time,
      </if>
      <if test="reviewUser != null" >
        review_user,
      </if>
      <if test="reviewTime != null" >
        review_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schemeCode != null" >
        #{schemeCode,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null" >
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="orgFunctionType != null" >
        #{orgFunctionType,jdbcType=VARCHAR},
      </if>
      <if test="topOrgId != null" >
        #{topOrgId,jdbcType=INTEGER},
      </if>
      <if test="isDefaultScheme != null" >
        #{isDefaultScheme,jdbcType=CHAR},
      </if>
      <if test="enableDate != null" >
        #{enableDate,jdbcType=DATE},
      </if>
      <if test="expiryDate != null" >
        #{expiryDate,jdbcType=DATE},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null" >
        #{dataState,jdbcType=VARCHAR},
      </if>
      <if test="prohibitState != null" >
        #{prohibitState,jdbcType=CHAR},
      </if>
      <if test="prohibitUser != null" >
        #{prohibitUser,jdbcType=INTEGER},
      </if>
      <if test="prohibitTime != null" >
        #{prohibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewUser != null" >
        #{reviewUser,jdbcType=INTEGER},
      </if>
      <if test="reviewTime != null" >
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vosung.auapi.client.entity.TAuOrgSchemeExample" resultType="java.lang.Integer" >
    select count(*) from T_AU_ORG_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_AU_ORG_SCHEME
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schemeCode != null" >
        scheme_code = #{record.schemeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeName != null" >
        scheme_name = #{record.schemeName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFunctionType != null" >
        org_function_type = #{record.orgFunctionType,jdbcType=VARCHAR},
      </if>
      <if test="record.topOrgId != null" >
        top_org_id = #{record.topOrgId,jdbcType=INTEGER},
      </if>
      <if test="record.isDefaultScheme != null" >
        is_default_scheme = #{record.isDefaultScheme,jdbcType=CHAR},
      </if>
      <if test="record.enableDate != null" >
        enable_date = #{record.enableDate,jdbcType=DATE},
      </if>
      <if test="record.expiryDate != null" >
        expiry_date = #{record.expiryDate,jdbcType=DATE},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.dataState != null" >
        data_state = #{record.dataState,jdbcType=VARCHAR},
      </if>
      <if test="record.prohibitState != null" >
        prohibit_state = #{record.prohibitState,jdbcType=CHAR},
      </if>
      <if test="record.prohibitUser != null" >
        prohibit_user = #{record.prohibitUser,jdbcType=INTEGER},
      </if>
      <if test="record.prohibitTime != null" >
        prohibit_time = #{record.prohibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reviewUser != null" >
        review_user = #{record.reviewUser,jdbcType=INTEGER},
      </if>
      <if test="record.reviewTime != null" >
        review_time = #{record.reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_AU_ORG_SCHEME
    set id = #{record.id,jdbcType=INTEGER},
      scheme_code = #{record.schemeCode,jdbcType=VARCHAR},
      scheme_name = #{record.schemeName,jdbcType=VARCHAR},
      org_function_type = #{record.orgFunctionType,jdbcType=VARCHAR},
      top_org_id = #{record.topOrgId,jdbcType=INTEGER},
      is_default_scheme = #{record.isDefaultScheme,jdbcType=CHAR},
      enable_date = #{record.enableDate,jdbcType=DATE},
      expiry_date = #{record.expiryDate,jdbcType=DATE},
      summary = #{record.summary,jdbcType=VARCHAR},
      data_state = #{record.dataState,jdbcType=VARCHAR},
      prohibit_state = #{record.prohibitState,jdbcType=CHAR},
      prohibit_user = #{record.prohibitUser,jdbcType=INTEGER},
      prohibit_time = #{record.prohibitTime,jdbcType=TIMESTAMP},
      review_user = #{record.reviewUser,jdbcType=INTEGER},
      review_time = #{record.reviewTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vosung.auapi.client.entity.TAuOrgScheme" >
    update T_AU_ORG_SCHEME
    <set >
      <if test="schemeCode != null" >
        scheme_code = #{schemeCode,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null" >
        scheme_name = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="orgFunctionType != null" >
        org_function_type = #{orgFunctionType,jdbcType=VARCHAR},
      </if>
      <if test="topOrgId != null" >
        top_org_id = #{topOrgId,jdbcType=INTEGER},
      </if>
      <if test="isDefaultScheme != null" >
        is_default_scheme = #{isDefaultScheme,jdbcType=CHAR},
      </if>
      <if test="enableDate != null" >
        enable_date = #{enableDate,jdbcType=DATE},
      </if>
      <if test="expiryDate != null" >
        expiry_date = #{expiryDate,jdbcType=DATE},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null" >
        data_state = #{dataState,jdbcType=VARCHAR},
      </if>
      <if test="prohibitState != null" >
        prohibit_state = #{prohibitState,jdbcType=CHAR},
      </if>
      <if test="prohibitUser != null" >
        prohibit_user = #{prohibitUser,jdbcType=INTEGER},
      </if>
      <if test="prohibitTime != null" >
        prohibit_time = #{prohibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewUser != null" >
        review_user = #{reviewUser,jdbcType=INTEGER},
      </if>
      <if test="reviewTime != null" >
        review_time = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vosung.auapi.client.entity.TAuOrgScheme" >
    update T_AU_ORG_SCHEME
    set scheme_code = #{schemeCode,jdbcType=VARCHAR},
      scheme_name = #{schemeName,jdbcType=VARCHAR},
      org_function_type = #{orgFunctionType,jdbcType=VARCHAR},
      top_org_id = #{topOrgId,jdbcType=INTEGER},
      is_default_scheme = #{isDefaultScheme,jdbcType=CHAR},
      enable_date = #{enableDate,jdbcType=DATE},
      expiry_date = #{expiryDate,jdbcType=DATE},
      summary = #{summary,jdbcType=VARCHAR},
      data_state = #{dataState,jdbcType=VARCHAR},
      prohibit_state = #{prohibitState,jdbcType=CHAR},
      prohibit_user = #{prohibitUser,jdbcType=INTEGER},
      prohibit_time = #{prohibitTime,jdbcType=TIMESTAMP},
      review_user = #{reviewUser,jdbcType=INTEGER},
      review_time = #{reviewTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>