<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vosung.authapp.role.mapper.TAuRoleMapper" >
  <resultMap id="BaseResultMap" type="com.vosung.auapi.client.entity.TAuRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
    <result column="property" property="property" jdbcType="VARCHAR" />
    <result column="create_org_id" property="createOrgId" jdbcType="INTEGER" />
    <result column="use_org_id" property="useOrgId" jdbcType="INTEGER" />
    <result column="prohibit_state" property="prohibitState" jdbcType="CHAR" />
    <result column="prohibit_user" property="prohibitUser" jdbcType="INTEGER" />
    <result column="prohibit_time" property="prohibitTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, role_code, role_name, role_type, property, create_org_id, use_org_id, prohibit_state, 
    prohibit_user, prohibit_time, is_delete, create_time, create_user, update_time, update_user, 
    summary
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vosung.auapi.client.entity.TAuRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_AU_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_AU_ROLE
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_AU_ROLE
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vosung.auapi.client.entity.TAuRoleExample" >
    delete from T_AU_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vosung.auapi.client.entity.TAuRole" >
    insert into T_AU_ROLE (id, role_code, role_name, 
      role_type, property, create_org_id, 
      use_org_id, prohibit_state, prohibit_user, 
      prohibit_time, is_delete, create_time, 
      create_user, update_time, update_user, 
      summary)
    values (#{id,jdbcType=INTEGER}, #{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, #{createOrgId,jdbcType=INTEGER}, 
      #{useOrgId,jdbcType=INTEGER}, #{prohibitState,jdbcType=CHAR}, #{prohibitUser,jdbcType=INTEGER}, 
      #{prohibitTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{summary,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vosung.auapi.client.entity.TAuRole" >
    insert into T_AU_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="roleType != null" >
        role_type,
      </if>
      <if test="property != null" >
        property,
      </if>
      <if test="createOrgId != null" >
        create_org_id,
      </if>
      <if test="useOrgId != null" >
        use_org_id,
      </if>
      <if test="prohibitState != null" >
        prohibit_state,
      </if>
      <if test="prohibitUser != null" >
        prohibit_user,
      </if>
      <if test="prohibitTime != null" >
        prohibit_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="summary != null" >
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="createOrgId != null" >
        #{createOrgId,jdbcType=INTEGER},
      </if>
      <if test="useOrgId != null" >
        #{useOrgId,jdbcType=INTEGER},
      </if>
      <if test="prohibitState != null" >
        #{prohibitState,jdbcType=CHAR},
      </if>
      <if test="prohibitUser != null" >
        #{prohibitUser,jdbcType=INTEGER},
      </if>
      <if test="prohibitTime != null" >
        #{prohibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vosung.auapi.client.entity.TAuRoleExample" resultType="java.lang.Integer" >
    select count(*) from T_AU_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_AU_ROLE
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roleCode != null" >
        role_code = #{record.roleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null" >
        role_name = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleType != null" >
        role_type = #{record.roleType,jdbcType=VARCHAR},
      </if>
      <if test="record.property != null" >
        property = #{record.property,jdbcType=VARCHAR},
      </if>
      <if test="record.createOrgId != null" >
        create_org_id = #{record.createOrgId,jdbcType=INTEGER},
      </if>
      <if test="record.useOrgId != null" >
        use_org_id = #{record.useOrgId,jdbcType=INTEGER},
      </if>
      <if test="record.prohibitState != null" >
        prohibit_state = #{record.prohibitState,jdbcType=CHAR},
      </if>
      <if test="record.prohibitUser != null" >
        prohibit_user = #{record.prohibitUser,jdbcType=INTEGER},
      </if>
      <if test="record.prohibitTime != null" >
        prohibit_time = #{record.prohibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_AU_ROLE
    set id = #{record.id,jdbcType=INTEGER},
      role_code = #{record.roleCode,jdbcType=VARCHAR},
      role_name = #{record.roleName,jdbcType=VARCHAR},
      role_type = #{record.roleType,jdbcType=VARCHAR},
      property = #{record.property,jdbcType=VARCHAR},
      create_org_id = #{record.createOrgId,jdbcType=INTEGER},
      use_org_id = #{record.useOrgId,jdbcType=INTEGER},
      prohibit_state = #{record.prohibitState,jdbcType=CHAR},
      prohibit_user = #{record.prohibitUser,jdbcType=INTEGER},
      prohibit_time = #{record.prohibitTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      summary = #{record.summary,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vosung.auapi.client.entity.TAuRole" >
    update T_AU_ROLE
    <set >
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null" >
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="createOrgId != null" >
        create_org_id = #{createOrgId,jdbcType=INTEGER},
      </if>
      <if test="useOrgId != null" >
        use_org_id = #{useOrgId,jdbcType=INTEGER},
      </if>
      <if test="prohibitState != null" >
        prohibit_state = #{prohibitState,jdbcType=CHAR},
      </if>
      <if test="prohibitUser != null" >
        prohibit_user = #{prohibitUser,jdbcType=INTEGER},
      </if>
      <if test="prohibitTime != null" >
        prohibit_time = #{prohibitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vosung.auapi.client.entity.TAuRole" >
    update T_AU_ROLE
    set role_code = #{roleCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      create_org_id = #{createOrgId,jdbcType=INTEGER},
      use_org_id = #{useOrgId,jdbcType=INTEGER},
      prohibit_state = #{prohibitState,jdbcType=CHAR},
      prohibit_user = #{prohibitUser,jdbcType=INTEGER},
      prohibit_time = #{prohibitTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>