<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vosung.authapp.role.mapper.TAuSubsystemPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.vosung.auapi.client.entity.TAuSubsystemPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="business_domain_id" property="businessDomainId" jdbcType="INTEGER" />
    <result column="subsystem_id" property="subsystemId" jdbcType="INTEGER" />
    <result column="permission_group_code" property="permissionGroupCode" jdbcType="VARCHAR" />
    <result column="permission_status" property="permissionStatus" jdbcType="CHAR" />
    <result column="data_state" property="dataState" jdbcType="CHAR" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, role_id, business_domain_id, subsystem_id, permission_group_code, permission_status, 
    data_state, is_delete, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vosung.auapi.client.entity.TAuSubsystemPermissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_AU_SUBSYSTEM_PERMISSION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_AU_SUBSYSTEM_PERMISSION
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_AU_SUBSYSTEM_PERMISSION
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vosung.auapi.client.entity.TAuSubsystemPermissionExample" >
    delete from T_AU_SUBSYSTEM_PERMISSION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vosung.auapi.client.entity.TAuSubsystemPermission" >
    insert into T_AU_SUBSYSTEM_PERMISSION (id, role_id, business_domain_id, 
      subsystem_id, permission_group_code, permission_status, 
      data_state, is_delete, create_time, 
      create_user, update_time, update_user
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{businessDomainId,jdbcType=INTEGER}, 
      #{subsystemId,jdbcType=INTEGER}, #{permissionGroupCode,jdbcType=VARCHAR}, #{permissionStatus,jdbcType=CHAR}, 
      #{dataState,jdbcType=CHAR}, #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vosung.auapi.client.entity.TAuSubsystemPermission" >
    insert into T_AU_SUBSYSTEM_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="businessDomainId != null" >
        business_domain_id,
      </if>
      <if test="subsystemId != null" >
        subsystem_id,
      </if>
      <if test="permissionGroupCode != null" >
        permission_group_code,
      </if>
      <if test="permissionStatus != null" >
        permission_status,
      </if>
      <if test="dataState != null" >
        data_state,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="businessDomainId != null" >
        #{businessDomainId,jdbcType=INTEGER},
      </if>
      <if test="subsystemId != null" >
        #{subsystemId,jdbcType=INTEGER},
      </if>
      <if test="permissionGroupCode != null" >
        #{permissionGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionStatus != null" >
        #{permissionStatus,jdbcType=CHAR},
      </if>
      <if test="dataState != null" >
        #{dataState,jdbcType=CHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vosung.auapi.client.entity.TAuSubsystemPermissionExample" resultType="java.lang.Integer" >
    select count(*) from T_AU_SUBSYSTEM_PERMISSION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_AU_SUBSYSTEM_PERMISSION
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.businessDomainId != null" >
        business_domain_id = #{record.businessDomainId,jdbcType=INTEGER},
      </if>
      <if test="record.subsystemId != null" >
        subsystem_id = #{record.subsystemId,jdbcType=INTEGER},
      </if>
      <if test="record.permissionGroupCode != null" >
        permission_group_code = #{record.permissionGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionStatus != null" >
        permission_status = #{record.permissionStatus,jdbcType=CHAR},
      </if>
      <if test="record.dataState != null" >
        data_state = #{record.dataState,jdbcType=CHAR},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_AU_SUBSYSTEM_PERMISSION
    set id = #{record.id,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      business_domain_id = #{record.businessDomainId,jdbcType=INTEGER},
      subsystem_id = #{record.subsystemId,jdbcType=INTEGER},
      permission_group_code = #{record.permissionGroupCode,jdbcType=VARCHAR},
      permission_status = #{record.permissionStatus,jdbcType=CHAR},
      data_state = #{record.dataState,jdbcType=CHAR},
      is_delete = #{record.isDelete,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vosung.auapi.client.entity.TAuSubsystemPermission" >
    update T_AU_SUBSYSTEM_PERMISSION
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="businessDomainId != null" >
        business_domain_id = #{businessDomainId,jdbcType=INTEGER},
      </if>
      <if test="subsystemId != null" >
        subsystem_id = #{subsystemId,jdbcType=INTEGER},
      </if>
      <if test="permissionGroupCode != null" >
        permission_group_code = #{permissionGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionStatus != null" >
        permission_status = #{permissionStatus,jdbcType=CHAR},
      </if>
      <if test="dataState != null" >
        data_state = #{dataState,jdbcType=CHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vosung.auapi.client.entity.TAuSubsystemPermission" >
    update T_AU_SUBSYSTEM_PERMISSION
    set role_id = #{roleId,jdbcType=INTEGER},
      business_domain_id = #{businessDomainId,jdbcType=INTEGER},
      subsystem_id = #{subsystemId,jdbcType=INTEGER},
      permission_group_code = #{permissionGroupCode,jdbcType=VARCHAR},
      permission_status = #{permissionStatus,jdbcType=CHAR},
      data_state = #{dataState,jdbcType=CHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getSubsystemPermission"  resultMap="BaseResultMap">
    select * from T_AU_SUBSYSTEM_PERMISSION
    WHERE role_id = #{roleId} AND
    subsystem_id IN
    <foreach item="subsystemId" index="index" collection="list" open="(" separator="," close=")">
      #{subsystemId}
    </foreach>
  </select>
</mapper>